In [1]:
import pandas as pd

### Task 1: Merging 12 csvs into a single dataframe

In [23]:
import os

#reading files in the directory
files = [file for file in os.listdir('./Sales_Data')]

#empty Data Frame
sales_all_months = pd.DataFrame()

for file in files:
    ##reads file and store in df
    df =  pd.read_csv('./Sales_Data/' + file)
    df
    #contacating file stored in df to single dataframe
    sales_all = pd.concat([sales_all_months, df])

##saving to csv
sales_all.to_csv("sales.csv", index=False)

In [16]:
#updated Data frame for all sales data file
sales_df = pd.read_csv("sales.csv")
sales_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700.0,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"
...,...,...,...,...,...,...
13617,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
13618,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
13619,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
13620,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
13621,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"